html {
    font-size: 95px;
}
body {
  display: flex;
  justify-content: center;
  height: 17vh;
}
.container {
  display: flex;
  height: 100%;
  width: 70vw;
}
.container .box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
}
.container .box.box1 {
  background-color: rgba(0, 128, 0, 0.7);
  height: 35%;
  flex: 1;
  font-size: 0.25rem;
}

.container .box.box2 {
  background-color: rgba(0, 0, 255, 0.7);
  flex: 2;
  height: 60%;
  font-size: 0.5rem;
}

.container .box.box3 {
  background-color: rgba(0, 0, 39, 0.8);
  flex: 3;
  height: 100%;
  font-size: 1rem;
}

.container .box.box4 {
  background-color: rgba(111, 28, 189, 0.8);
  flex: 2;
  height: 60%;
  font-size: 0.5rem;
}

.container .box.box5 {
  background-color: rgba(255, 68, 0, 0.8);
  height: 35%;
  font-size: 0.25rem;
  flex: 1;
}
